.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 20px 170px 10px 170px;
}

a {
  color: inherit;
  text-decoration: none;
}

.navbar_menu li {
  /* font-family: "Markazi Text", serif; */
  color: #333333;
  font-family: "Karla", sans-serif;
  font-size: 1em;
  list-style: none;
  display: inline;
  padding: 8px;
}

.hamburger {
  display: none;
}

@media screen and (max-width: 750px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 20px 10px 20px;
    /* background-color: rgb(73, 94, 87); */
    background-color: beige;
  }

  .navbar_menu {
    display: none;
    align-items: center;
    flex-direction: column;
    padding: 0px;
    width: 100%;
  }

  .navbar_menu li {
    width: 100%;
    text-align: center;
    border: 2px solid black;
    padding: 8px 12px;
  }

  .hamburger {
    display: block;
    position: absolute;
    height: 20px;
    right: 20px;
    top: 20px;
  }

  .navbar_menu.active {
    display: flex;
  }
}
